@model Web.Models.WorkersModel

@{
    ViewBag.Title = "Workers";
}

<h2>Workers</h2>

<p>
    @Html.ActionLink("Add new worker", "Edit", new { })
</p>

    <ul>
    @foreach( var worker in Model.WorkerList.OrderBy( w => w.Name ) ){
        <li>
            @Html.ActionLink(worker.Name, "Details", "Worker", new { ID = worker.ID }, null)
            @Html.ActionLink("Edit chunks", "Index", "Chunk")
        </li>
    }
    </ul>
