@model Web.Models.ChunksModel

@{
    ViewBag.Title = "Index";
}

<h2>Chunks</h2>

<div>
    <label for="newChunkStartTime" accesskey="S">Start</label>
    <input type="text" id="newChunkStartDate" />
    <input type="text" id="newChunkStartTime" />
    <br />
    <label for="newChunkStopDate">Stop</label>
    <input type="text" id="newChunkStopDate" />
    <input type="text" id="newChunkStopTime" />
    <br />
    <label for="newChunkDuration">Duration</label>
    <input type="text" id="newChunkDuration" />
    <br />
    <button id="addChunk" accesskey="A">Add</button>
</div>

<div>
    Chunks:
</div>

<div id="asdf"></div>
<div>
    <ol id="ChunkList">
    </ol>
</div>

@*<input type="text" name="date" id="date" />
*@
<script type="text/javascript">
    $(document).ready(function () {
        loadChunks();

        $("#asdf").text(Model.toString());

        $('#newChunkStartDate').datepicker();
        $('#newChunkStartDate').datepicker("option", "dateFormat", "yy-mm-dd");
        $('#newChunkStartDate').val( Date.now().toYYYYMMDD() );

        $("#newChunkStartTime").timepicker({ ampm: false, hourMin: 0, hourMax: 24 });   //  http://trentrichardson.com/examples/timepicker/
        $("#newChunkStartTime").val("8:00");

        $('#newChunkStopDate').datepicker();
        $('#newChunkStopDate').datepicker("option", "dateFormat", "yy-mm-dd");
        $('#newChunkStopDate').val(Date.now().toYYYYMMDD());

        $("#newChunkStopTime").timepicker({ ampm: false, hourMin: 0, hourMax: 24 });
        $("#newChunkStopTime").val("8:30");

        $("#newChunkDuration").timepicker({ ampm: false, hourMin: 0, hourMax: 24 });

        $("#addChunk").click(function () {
            postAddChunk(
                new Date($("#newChunkStartDate").val() + " " + $("#newChunkStartTime").val()), 
                new Date($("#newChunkStopDate").val() + " " + $("#newChunkStopTime").val()), 
                $("#newChunkDuration").val()
            );
        });
    });

    function addChunks(chunks) {
        for (var i = 0 ; i < chunks.Chunks.length ; ++i) {
            var chunk = chunks.Chunks[i];
            $("#ChunkList").append(newChunkItemString(chunk));
        }
    }

    function addChunk(chunk) {
        alert("TBA");
        alert(chunk);
    }

    function formatFromToDuration(fromDateTime, toDateTime, duration) {
        return fromDateTime.toYYYYMMDD() +
            " - " +
            toDateTime.toYYYYMMDD() +
            " (" +
            duration.substr( 0, 5 ) +
            ")";
    }

    Date.prototype.toYYYYMMDD = function () {
        return this.toString("yyyy-MM-dd");
    }

    function loadChunks() {
        $.ajax({
            url: "/DrangenNeoOchHansKoVidNamnNora/api/chunkapi",
            type: "get",
            data: 1,
            contentType: "application/json;charset=utf-8",
            success: function (response, textStatus, jqXHR) {
                addChunks(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('error ajax call');
                alert(errorThrown);
            },
            complete: function () {
                //alert('complete ajax call');
            }
        });
    }

    function newChunkItemString(chunk) {
        return "<li>" + formatFromToDuration(new Date(chunk.Start), new Date(chunk.Stop), chunk.Duration) + "</li>";
    }

    function postAddChunk(startDateTime, stopDateTime, duration, owningWorkerID) {
        $.ajax({
            url: "/DrangenNeoOchHansKoVidNamnNora/api/chunkapi",
            type: "post",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ Start: startDateTime, Stop: stopDateTime, Duration: duration, OwningWorkerID: owningWorkerID }),
            success: function (response, textStatus, jqXHR) {
                addChunk(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('error ajax call');
                alert(errorThrown);
            },
            complete: function () {
                //alert('complete ajax call');
            }
        });
    }

</script>