@model Web.Models.ChunksModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chunks</h2>
<div>
    Chunks:
</div>

<div>
    <ol id="ChunkList">
        <li>asdf</li>
    </ol>
</div>
